.landing-header{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.landing-header > img {
    width: 10rem;
}

/* Entrar */
.links > a {
    padding: 2.5rem;
    color: rgb(87, 87, 87);
    font-weight: bold;
}

/*Registar*/
.links > button {
    padding: 0.7rem 1.3rem;
    background-color: #f00000;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.links #registar{
    text-decoration: none;
    color: white;
}