.flex-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.landing-picture {
  background-image: url("../../Assets/sucess-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-container h1 {
  position: relative;
  color: rgb(32, 32, 32);
  font-size: 3.5rem;
  margin: 0 2rem;
  z-index: 3;
}

.flex-container button {
  margin: 1rem 0 0 2rem;
  color: white;
  padding: 1rem 1.5rem;
  background-color: #f00000;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
