.register-container{
    display: flex;
}


#gov-button {
    border-radius: 0;
    background-color: rgb(46, 83, 165);
}

form{
    padding: 0 10%;
}

#continuar-button{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    color: red;
    background-color: white;
    border: 1px solid red;
    width: 30%;
    margin-left: 70%;
    padding: 0.4rem;
    margin-top: 0.5rem;
}


#continuar-button:hover{
    color: white;
    background-color: red;
    border: 1px solid red;
}

p span {
    color: red;
    text-decoration: underline;
    font-weight: 600;
}

#question{
    margin-top: 10%;
}