#voltar-button {
  width: 50%;
  background-color: red;
  border-radius: 5px;
}

.final-step-container a {
  text-decoration: none;
  color: white;
}
.final-step-container {
  text-align: center;
}

.final-step-container h2 {
  font-size: 1.35rem;
  margin: 0;
}

.final-step-container h2{
    margin: 2rem 0 0 0;
}
.final-step-container h5{
    margin-top: 0.5rem;
}

